Carcassonne-Unity/Library/metadata/
Carcassonne-Unity/Library/ShaderCache/d/d1f986c6ef0c11e90b137383f6dfa8c0.bin
Carcassonne-Unity/Library/
Carcassonne-Unity/Temp/
Carcassonne-Unity/Assets/Lib/Arcolib/
Sync/
Carcassonne-Unity/Export/
Resources/
